/* Additional styling for the intro section */
.intro-section {
  background-color: var(--nextui-colors-background);
  color: var(--nextui-colors-text);
  padding: 2rem;
}
/* Additional styling for the about us section */
.about-us-section {
  background-color: var(--nextui-colors-background);
  color: var(--nextui-colors-text);
}

.text-primary {
  color: var(--nextui-colors-primary);
}
/* Add this to your CSS */
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content .theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/**











**/
